{% load static %}

<div class="card mb-3 text-bg-light shadow-lg">
    <div class="card-header">
        <h5 class="card-title">Товар</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row text-center">
                <div class="col p-0">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-dark btn-sm decrement"
                                data-cart-id="" data-cart-change-url="">-</button>
                        </span>
                        <input type="text" class="form-control number" value="1"
                            readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-dark btn-sm increment"
                                data-cart-id="" data-cart-change-url="">+</button>
                        </span>
                    </div>
                </div>
                <div class="col p-0">
                    <p>x 100.00 = </p>
                </div>
                <div class="col p-0"><strong>100.00 $</strong></div>
                <div class="col p-0">
                    <a href="{% url "cart:cart_remove" 1 %}" class="remove-from-cart" data-cart-id="">
                        <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                            alt="Catalog Icon" width="16" height="16">
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="float-left">Итого <strong>1</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>100.00 $</strong></h4>
    </div>
</div>